.navigation-item {
  min-height: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border-left: 0rem rgb(35, 110, 167);
  transition: all 0.15s ease-in;
  &:hover {
    background-color: #1e282c;
    color: #fff;
  }
}
